.NavBar {
    background-color: #181818;
    height: 80px;
    width: 100%;
    position: fixed;
    /*NavBar always present while scrolling*/
    z-index: 999;
    /*Ensures NavBar is always placed in front of all other components*/
    opacity: 0.9;
    display: flex;
    /*Initializes the whole container as flex container-used for laying out items*/
    justify-content: center;
    /*Alligning from left to right*/
    align-items: center;
    /*alligning from top to bottom*/
    /*Interesting Note: The Margin Above NavBar is kinda annoying
    And we also don't know why it is present and this is where 
    Developer tools come in Handy - These tools help in debugging*/
}


.NavBar nav ul {
    list-style: none;
    margin: 0;
    /*margin is the distance from up to down, when assigned in pixel moves everything downwards*/
    padding: 0;
    /*padding is from left to right, when assigned to something,moves the whole to the right by the specified no. of pixels*/
}

.NavBar nav ul li {
    display: inline-block;/*this is used to display the items in a row*/
    margin: 20px;/*this is used to give space between the items*/
}

.NavBar nav ul li a {
    text-decoration: none;
    color: white;
}
   
.NavBar a:hover {
    border-bottom: 5px solid #8C1CD1;
}